<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEAl6KA0wyItEos3uwlLnBX0wF-JePPEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>925394531708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medg.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>med-g-450d2</string>
	<key>STORAGE_BUCKET</key>
	<string>med-g-450d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925394531708:ios:83dac3c99be6d3fec620f9</string>
</dict>
</plist>